.image {
  margin-bottom: 1.5rem;

  .caption {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #5a5858;

    &.text-left {
      text-align: left;
    }

    &.text-right {
      text-align: right;
    }
  }
}
